{{template "base" .}}

{{define "title"}}
    Home
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/home.css">
{{end}}

{{define "content"}}
    <!-- add task modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskModalLabel">ADD TASK</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="text" name="taskName" placeholder="Task Name" class="form-control" required>
                        <input type="number" name="taskDuration" placeholder="Task Duration" class="form-control" style="margin-top: 3%;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-plus"></i> Add Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- add habit modal -->
    <div class="modal fade" id="addHabitModal" tabindex="-1" aria-labelledby="addHabitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addHabitModalLabel">ADD HABIT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="text" name="habitName" placeholder="Habit Name" class="form-control" required>
                        <textarea name="habitDescription" placeholder="Habit Description" class="form-control" style="margin-top: 3%;" rows="3"></textarea>
                        <label for="habitTimeStart" style="margin-top: 3%;">Time Start:</label>
                        <input type="time" name="habitTimeStart" placeholder="Time Start" class="form-control" required>
                        <label for="habitTimeEnd" style="margin-top: 3%;">Time End:</label>
                        <input type="time" name="habitTimeEnd" placeholder="Time End" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-plus"></i> Add Habit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- add note modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="addNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addNoteModalLabel">ADD NOTE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="text" name="noteName" placeholder="Note Name" class="form-control" required>
                        <textarea name="noteDescription" placeholder="Note Description" class="form-control" style="margin-top: 3%;" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-plus"></i> Add Note</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- search results for tasks modal -->
    {{if and .PostData (ne (index .PostData "searchResultsTasks") nil)}}
        <div class="modal show fade d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-bg-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">SEARCH RESULTS - YOUR TASKS</h1>
                        <a href="/home" class="btn-close" style="background-color: #fff;"></a>
                    </div>
                    <div class="modal-body">
                        {{$searchResultsTasks := index .PostData "searchResultsTasks"}}
                        {{range $task := $searchResultsTasks}}
                            <div class="task" style="margin-top: 3%;">
                                {{if eq $task.CompletedStatus true}}
                                    <div class="row">
                                        <div class="col">
                                            <h3><strike>{{$task.Name}}</strike></h3>
                                            <h4><strike>{{$task.Duration}} mins</strike></h4>
                                        </div>
                                        <div class="col completed-status">                                
                                            <form method="post" id="removeCheckForm">
                                                <input type="hidden" name="removeCheckID" value="{{$task.ID}}">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <label for="removeCheck">Completed</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <button type="submit" style="border: none; background-color: rgb(30, 30, 30); color: green;"><i class="fa-regular fa-square-check"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <form method="post">
                                            <input type="hidden" name="deleteTaskID" value="{{$task.ID}}">
                                            <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                {{else}}
                                    <div class="row">
                                        <div class="col">
                                            <h3>{{$task.Name}}</h3>
                                            <h4>{{$task.Duration}} mins</h4>
                                        </div>
                                        <div class="col completed-status"> 
                                            <form method="post" id="addCheckForm">
                                                <input type="hidden" name="addCheckID" value="{{$task.ID}}">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <label for="addCheck">Completed</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <button type="submit" style="border: none; background-color: rgb(30, 30, 30); color: green;"><i class="fa-regular fa-square"></i></button>
                                                    </div>
                                                </div>
                                            </form>                                
                                        </div>
                                        <form method="post">
                                            <input type="hidden" name="deleteTaskID" value="{{$task.ID}}">
                                            <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                {{end}}
                            </div>
                        {{end}}
                    </div>
                    <div class="modal-footer">
                        <a href="/home" class="btn btn-warning">Close</a>
                    </div>
                </div>
            </div>
        </div>
    {{end}}

    <!-- search results for habits modal -->
    {{if and .PostData (ne (index .PostData "searchResultsHabits") nil)}}
        <div class="modal show fade d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-bg-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">SEARCH RESULTS - YOUR HABITS</h1>
                        <a href="/home" class="btn-close" style="background-color: #fff;"></a>
                    </div>
                    <div class="modal-body">
                        {{$searchResultsHabits := index .PostData "searchResultsHabits"}}
                        {{range $habit := $searchResultsHabits}}
                            <div class="habit-container" style="margin-top: 3%;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h3>{{$habit.Name}}</h3>
                                        <p>{{$habit.Description}}</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <br>
                                        <p><i class="fa-solid fa-clock"></i> {{$habit.TimeStart}} - {{$habit.TimeEnd}}</p>
                                        <p><i class="fa-solid fa-stopwatch"></i> {{$habit.Duration}} Minutes</p>
                                        <form method="post">
                                            <input type="hidden" name="deleteHabitID" value="{{$habit.ID}}">
                                            <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                    </div>
                    <div class="modal-footer">
                        <a href="/home" class="btn btn-warning">Close</a>
                    </div>
                </div>
            </div>
        </div>
    {{end}}

    <!-- search results for notes modal -->
    {{if and .PostData (ne (index .PostData "searchResultsNotes") nil)}}
        <div class="modal show fade d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-bg-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">SEARCH RESULTS - YOUR NOTES</h1>
                        <a href="/home" class="btn-close" style="background-color: #fff;"></a>
                    </div>
                    <div class="modal-body">
                        {{$searchResultsNotes := index .PostData "searchResultsNotes"}}
                        {{range $note := $searchResultsNotes}}
                            <div class="note-container" style="margin-top: 3%;">
                                <h3>{{$note.Name}}</h3>
                                <form method="post">
                                    <input type="hidden" name="noteIDEdit" value="{{$note.ID}}">
                                    <input type="text" name="noteNameEdit" value="{{$note.Name}}" class="form-control" style="margin-top: 1%;">
                                    <textarea name="noteDescriptionEdit" class="form-control" rows="3" style="margin-top: 1%;">{{$note.Description}}</textarea>
                                    <button type="submit" class="btn btn-warning" style="margin-top: 4%;"><i class="fa-solid fa-pencil"></i> Save Changes</button>
                                </form>                        
                            </div>
                        {{end}}
                    </div>
                    <div class="modal-footer">
                        <a href="/home" class="btn btn-warning">Close</a>
                    </div>
                </div>
            </div>
        </div>
    {{end}}

    <div class="tasks">
        <h1>Your Tasks <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal"><i class="fa-solid fa-plus"></i> Task</button> <a href="/tasks-list" class="btn btn-warning"><i class="fa-solid fa-list"></i> List View</a></h1>
        <form method="post" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="col-8">
                    <input type="text" name="searchTasks" id="searchTasks" placeholder="Search Tasks" class="form-control" style="width: 100%;">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-warning" style="width: 100%;">Search</button>
                </div>
            </div>
        </form>
        <div class="all-tasks">
            {{$tasks := index .Data "tasks"}}
            {{range $task := $tasks}}
                <div class="task">
                    {{if eq $task.CompletedStatus true}}
                        <div class="row">
                            <div class="col">
                                <h3><strike>{{$task.Name}}</strike></h3>
                                <h4><strike>{{$task.Duration}} mins</strike></h4>
                            </div>
                            <div class="col completed-status">                                
                                <form method="post" id="removeCheckForm">
                                    <input type="hidden" name="removeCheckID" value="{{$task.ID}}">
                                    <div class="row">
                                        <div class="col-8">
                                            <label for="removeCheck">Completed</label>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" style="border: none; background-color: rgb(30, 30, 30); color: green;"><i class="fa-regular fa-square-check"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <form method="post">
                                <input type="hidden" name="deleteTaskID" value="{{$task.ID}}">
                                <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    {{else}}
                        <div class="row">
                            <div class="col">
                                <h3>{{$task.Name}}</h3>
                                <h4>{{$task.Duration}} mins</h4>
                            </div>
                            <div class="col completed-status"> 
                                <form method="post" id="addCheckForm">
                                    <input type="hidden" name="addCheckID" value="{{$task.ID}}">
                                    <div class="row">
                                        <div class="col-8">
                                            <label for="addCheck">Completed</label>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" style="border: none; background-color: rgb(30, 30, 30); color: green;"><i class="fa-regular fa-square"></i></button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                            <form method="post">
                                <input type="hidden" name="deleteTaskID" value="{{$task.ID}}">
                                <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    {{end}}
                </div>                    
            {{end}}
        </div>
    </div>

    <hr>

    <div class="habits">
        <h1>Your Habits <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addHabitModal"><i class="fa-solid fa-plus"></i> Habit</button> <a href="/habit-tracker-list" class="btn btn-warning"><i class="fa-solid fa-list"></i> List View</a></h1>
        <form method="post" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="col-8">
                    <input type="text" name="searchHabits" id="searchHabits" placeholder="Search Habits" class="form-control" style="width: 100%;">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-warning" style="width: 100%;">Search</button>
                </div>
            </div>
        </form>
        <div class="all-habits">
            {{$habits := index .Data "habits"}}
            {{range $habit := $habits}}
                <div class="habit-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>{{$habit.Name}}</h3>
                            <p>{{$habit.Description}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <br>
                            <p><i class="fa-solid fa-clock"></i> {{$habit.TimeStart}} - {{$habit.TimeEnd}}</p>
                            <p><i class="fa-solid fa-stopwatch"></i> {{$habit.Duration}} Minutes</p>
                            <form method="post">
                                <input type="hidden" name="deleteHabitID" value="{{$habit.ID}}">
                                <button type="submit" class="btn btn-outline-danger" style="width: 100%;"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>

    <hr>

    <div class="notes">
        <h1>Your Notes <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNoteModal"><i class="fa-solid fa-plus"></i> Note</button></h1>
        <form method="post" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="col-8">
                    <input type="text" name="searchNotes" id="searchNotes" placeholder="Search Notes" class="form-control" style="width: 100%;">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-warning" style="width: 100%;">Search</button>
                </div>
            </div>
        </form>
        <div class="all-notes">
            {{$notes := index .Data "notes"}}
            {{range $note := $notes}}
                <div class="note-container">
                    <h3>{{$note.Name}}</h3>
                    <form method="post">
                        <input type="hidden" name="noteIDEdit" value="{{$note.ID}}">
                        <input type="text" name="noteNameEdit" value="{{$note.Name}}" class="form-control" style="margin-top: 1%;">
                        <textarea name="noteDescriptionEdit" class="form-control" rows="3" style="margin-top: 1%;">{{$note.Description}}</textarea>
                        <button type="submit" class="btn btn-warning" style="margin-top: 4%;"><i class="fa-solid fa-pencil"></i> Save Changes</button>
                    </form>
                    <form method="post">
                        <input type="hidden" name="deleteNoteID" value="{{$note.ID}}">
                        <button type="submit" class="btn btn-outline-danger" style="margin-top: 4%;"><i class="fa-solid fa-trash-can"></i></button>
                    </form>                        
                </div>
            {{end}}
        </div>
    </div>
{{end}}